/* Basic Typography */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #666;
}

p {
    margin: 0 0 10px 0;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5 {
    color: #000;
    font-weight: 300;
    margin: 0 0 10px 0;
}

/* General Layout */
.divider {
    position: relative;
    width: 35px;
    height: 3px;
    background-color: #ddd;
    margin: 0 auto 20px auto;
}

.divider::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: #ddd;
    top: 8px;
    left: 17px;
}

/* helper classes */

* {
    box-sizing: border-box;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/*
****************************************************
***             HEADER                           ***
****************************************************
*/

.header-nav {
    text-align: center;
}

.logo {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px; 
    display: block;
    margin: 10px 0 20PX 0;
    text-transform: uppercase;
}

.logo:hover {
    text-decoration: none;
    color: #000;
}

.hamburger {
    color: #000;
    font-size: 30px;
    padding: 3px 12px;
    border: 1px solid #666;
    border-radius: 5px;
}

.nav-list {
    margin: 20px 0 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);  
    list-style-type: none;
    padding: 10px 0 0 0;
    display: none;
}

.nav-list li {
    margin-bottom: 20px;
}

.nav-list a {
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

.banner {
    background-color: #000;
    background-image: url(../img/hero.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    text-align: center;
    width: 100%;
    margin: 40px 0;
    position: relative;
}

.banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#000;
}

.banner-header {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
    
    .nav-list {
        display: block;
        border: none;
    }
    
    .nav-list li {
        display: inline;
        margin: 0 20px 0 0; 
    }
    
    .nav-list a {
        font-size: 14px;
    }
}

@media only screen and (min-width: 992px) {
    
    .nav-list a:hover {
        text-decoration: none;
        padding-bottom: 5px;
        border-bottom: 2px solid #000;
    }
    
    .banner {
        height: 1000px;
        max-width: 1920px;
        width: 100%;
        margin: 40px auto;
    }
    
    .banner-content {
        text-align: left;
        left: 75%;
    }
    
    .banner-text {
        font-size: 18px;
    }
    
    .banner-header {
        font-size: 60px;
    }
}

/* Section feature */

.feature-item {
    margin-bottom: 20px;
}

#feature i {
    font-size: 20px;
    margin-bottom: 20px;
}

.feature-header {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* Section Showcase */

.show {
    background-color: #f5f5f5;
}

.showcase-header {
    font-weight: 500px;
    letter-spacing: 1px;
    line-height: 1.2;
    margin: 20px 0;
}

.show2 {
    margin: 0 0 20px 0;
}

.show p, 
#showcase-2 p     {
    margin-bottom: 20px;
}

.btn-show {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0);
}

@media only screen and (min-width: 768px) {
    
    .showcase-header {
        line-height: 1.3;
        margin: 30px 0 20px 0;    
    }
    
    .show2 {
        margin: 0 0 20px 0;
    }
}

@media only screen and (min-width: 992px) {
    
    .showcase-header {
        margin: 0 0 20px 0;
    }
}

/* Section Service */

.spacer {
    padding: 50px 0;
}

.section-header {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.subtitle {
    margin-bottom: 20px;
    text-align: center;
}

.item {
    text-align: center;
    margin: 0 0 20px 0;
}

.item-header {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.item-style {
    font-size: 40px;
    margin: 0 0 20px 0;
}

/* Get Ready for some responsive action */

/* Section Services */

@media only screen and (min-width: 768px) {
    
    .spacer {
        padding: 70px 0;
    }
    
    .subtitle {
        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 992px) {
    .spacer {
        padding: 100px 0;
    }
    
    .section-header {
        margin-bottom: 20px;
    }
    
    .divider {
        margin-bottom: 30px;
    }
    
    .subtitle {
        margin-bottom: 60px;
    }
    
    .item {
        margin: 0 0 40px 0;
    }
}

/* Section Team */

.team-header {
    letter-spacing: 1px;
    margin-bottom: 3px;
}


.team-social {
    padding-left: 0;
    margin: 15px 0 0 0;
    list-style-type: none;
}

.team-social li {
    display: inline;
    margin-right: 15px;
}

.avatar {
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
}

/* Section Pricing */

.pricing-item {
    text-align: center;
    margin: 0 0 20px 0;
    padding: 30px;
    border: 10px solid #ddd;
    transition: all 0.5s ease;
    
}

.pricing-item:hover {    
    border: 10px solid #000;
}

.pricing-header {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.dollar {
    font-size: 20px;
    font-weight: 300;
}

.pricing-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0 0 30px 0;
    text-align: left;
    font-size: 16px;
}

.pricing-list li {
    margin-bottom: 20px;
}

.pricing-list li:last-child {
    margin-bottom: 0;
}

.pricing-style {
    margin-right: 20px;
}

.btn-default {
    border: 1px solid #000;
}

/* Portfolio section */

.mix-list {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    margin-bottom: 40px;
}

.mix-list li {
    font-size: 20px;
    color: #666;
    display: inline;
    margin-right: 20px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.mix-list li:hover {
    color: #337ab7;
}

.mix-wrapper:hover .overlay {
    height: 33%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all .5s ease;
    overflow: hidden;
}

.mix-wrapper {
    position: relative;
}

.overlay-content {
    float: left;
    color: #fff;
    padding: 35px 0 0 16px;
    letter-spacing: 1px;
}

.overlay-logo {
    float: right;
    color: #fff;
    font-size: 20px;
    padding: 35px 16px 0 0;
}

.overlay-logo a {
    color: #fff;
}

/*
****************************************************
***             Slider                           ***
****************************************************
*/

.post-date {
    color: #fff;
    padding: 10px 10px;
    background-color: #000;
    width: 70px;
    margin-bottom: 10px;
}

.slider-header {
    font-size: 18px;
    font-weight: 500;
}

.owl-dot.active span {
    background-color: #337ab7!important;
}





















